colorama>=0.4.6
ffmpeg>=1.4
gym>=0.23.1
gymnasium>=0.29.0
markdown>=3.6
matplotlib>=3.8.4
numpy>=1.26.0
pandas>=2.2.2
pip=24.0
python==3.10.14
ray>=2.32.0
rl_games>=1.6.1
rsl_rl>=2.0.2
skrl==1.2.0
stable-baselines3>=2.3.2
tensorboard>=2.17.0
torch==2.2.2+cu118
tqdm>=4.66.4
wheel>=0.43.0


#These must be installed via their documentation
#isaacsim>=4.0.0.0
#omni-isaac-lab>=0.17.13